body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif; // Default font
    font-size: 16px; // Default font size
    color: #333; // Default text color
}

#movieContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; // Center the container to take full viewport height
    background-color: #f0f0f0; // Page background
    margin: 0;
    padding: 0;

    .card {
        background-color: #ffffff; // Card background
        border-radius: 15px; // Rounded corners
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow
        overflow: hidden;
        width: 70%; // Card width
        max-width: 400px; // Limit the card width
        height: 70vh; // Card height relative to the viewport
        display: flex;
        flex-direction: column;
        justify-content: space-between; // Space between elements inside the card
        align-items: center;
        text-align: center;
        padding: 10px;

        &__image {
            width: auto; // Auto width for the poster;
            height: 50%; // Poster takes half the card's height
            object-fit: cover; // Preserve aspect ratio and fit inside container
            margin-bottom: 10px;
        }

        &__info {
            flex: 1; // Allocate remaining space for details
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            font-size: 20px; // Title font size
            font-weight: bold; // Bold text
            color: #333; // Text color
            margin-bottom: 5px;
        }           
    }

    .buttons-container {
        display: flex;
        justify-content: start; // Space between buttons
        align-items: center;
        width: 100%; // Buttons take full card width
        margin-top: auto; // Push the buttons to the bottom
        padding: 10px 0;

        .yes-button,
        .no-button {
            background-color: #fbc2e1; // Pink background
            color: #fff; // White text
            font-size: 14px; // Font size for buttons
            padding: 8px 16px; // Padding for buttons
            border: none;
            border-radius: 5px; // Rounded corners
            cursor: pointer;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #a95784; // Darker pink on hover
            }

            &:active {
                    transform: scale(0.95); // Slightly shrink on click
            }
        }

        .no-button {
            background-color: #ccc; // Gray background for "No" button

            &:hover {
                    background-color: #888; // Darker gray on hover
            }
        }
    }
}
